{% extends "base.html" %}
{% block title %}Портфолио ProThemesRU{% endblock %}
{% block content %}
<h1 class="mb-4">Портфолио шаблонов</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/static/img/preview1.png" class="card-img-top" alt="Шаблон 1">
            <div class="card-body">
                <h5 class="card-title">Business Landing</h5>
                <p class="card-text">Минималистичный шаблон для бизнеса.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/static/img/preview2.png" class="card-img-top" alt="Шаблон 2">
            <div class="card-body">
                <h5 class="card-title">Creative Portfolio</h5>
                <p class="card-text">Креативное портфолио для дизайнеров.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/static/img/preview3.png" class="card-img-top" alt="Шаблон 3">
            <div class="card-body">
                <h5 class="card-title">Online Store</h5>
                <p class="card-text">Магазин с карточками товаров.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/static/images/preview5.jpg" class="card-img-top" alt="Шаблон 5">
            <div class="card-body">
                <h5 class="card-title">Video Catalog</h5>
                <p class="card-text">Современный каталог видеороликов с фильтрами и адаптивным дизайном.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
